img#logo{
    width: 145px;
    height: 55px;
}
.logo{
    position: absolute;
    top: 35px;
    float: left;
}
body{
    background-color: #9ad3d5;
    margin: 0;
}
.latarberanda{
    background: #fff5b0;
    background-size: cover; 
    padding: 33px;
  padding-left: 600px;

}
.kategori:hover{
    background-color:#19af96;
    border: 2px solid #19af96;

}
body{
    font-family: 'Handwriting';
}

}
footer{
    padding-bottom:15px;
    padding-top:15px;
    background-color: #fff5b0;
    text-align: center;
    color: black;
    font-weight: 300;
    list-style-type: none;
    margin-bottom: -300px;
}

h1{
    font-size: 70px;
    font-family: 'Ink Free';
    text-align: center;
}
.header-user-dropdown {
	background-color:#fff5b0;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-user-dropdown .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}
.header-user-dropdown .header-limiter h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin:0;
}

.header-user-dropdown .header-limiter h1 span {
	color: #9ad3d5;
}
